NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
EMAIL_QUEUE_CRON_SECRET=edjfi5bilubgpufbBBKIJJP09jbkjdsgbfudg5ug909bfmnoo00002563
EMAIL_QUEUE_BATCH_LIMIT=20
